.galleryItem > img {
  border-radius: 10px;
  display: block;
  border: 1px solid black;
  overflow: hidden;
  margin-bottom: 10px;
  width: 50%;
  height: 50%;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
